<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>About Us</title>
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_head">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 image about-left">
                        <figure>

                            <img src="/img/IMG_20201103_155653.jpg" alt="" class=" myPic">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12  txt text-center about-right">
                        <p>Welcome to My World</p>
                        <h1>I Am A <span>Full Stack Developer</span> And A Student</h1>
                        <a href="https://github.com/Aniket-Sarkar-40" target="_blank"><button id="button">ABOUT
                                ME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>foot}}
</body>

</html>